body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #db9a9a;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.class {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 50px;
    transition: transform 0.3s;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

li {
    text-align: center;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    text-decoration-line: none;
}