body {
    background-color: rgb(214, 174, 125);
}

/* header style */
header {
    background-color: rgb(31, 29, 32);
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;

}

/* Intro Section */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.intro img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.intro p {
    text-align: center;
    font-size: 1.1em;
    max-width: 800px;
    line-height: 1.8;

}

/* Sections Styling */
section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #493c3b;
    font-size: 2em;
}

* Ingredients List */
.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.list .section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;

}

/* Instructions Styling */
#instructions ol {
    counter-reset: step-counter;
}

#instructions li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;
}

#instructions li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;
}

#instructions ul ul {
    list-style-type: circle;
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    position: relative;
    bottom: 0;
    width: 100%;
}